 body {
     font-family: Arial, sans-serif;
     background: #f0f0f0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .container {
     width: 400px;
     height: 250px;
     background-color: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     transition: background-color 0.4s ease;
 }

 input[type="color"] {
     margin-top: 20px;
     cursor: pointer;
 }
 .inputContainer {
    text-align: center;
 }