* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6677ea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GLASS CARD */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
}

.card {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 25px;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    background: rgba(255, 255, 255, 0.2);
}


/* TITLE */
h1 {
    position: absolute;
    top: 40px;
    color: white;
    font-size: 2rem;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ddd;
}
