* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: #111;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all .7s ease-in;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transform: opacity .3s ease .4s;
}

